*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto',sans-serif;
    margin: 0; 
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{
    font-size: 1.25em;
    color: #1E1E1E;
}
span{font-size: 0.5em;}
ul{
    list-style: none;
    padding-inline-start: 0px;
}
li{font-size: 1.25em;}
.fa-eye{
    color: #ED2460;
    font-size: 2em;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #3E3E40;
    background-color: #C9DEF5;
    cursor: pointer;
}
button:hover{
    background-color: #5CADE0;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: #F5F5F5;
    z-index: 5;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #3E3E40;
    background-color: #EEEEF2;
    font-size: 2em;
    text-align: center;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #1E1E1E;
}
header a:hover{
    color: #2179BF;
}

#tesla-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 1100px;
    color: #F2F1F1;
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#todo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 1100px;
    color: #F2F1F1;
    
}
#stream-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 1100px;
    color: #F2F1F1;
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#construction-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 1100px;
    color: #F2F1F1;
    background-image:url('../img/under-construction1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#todo-section h1{
    font-size: 2.5em;
}

#todo-section button{
    font-size: 1.8em;
}

.cont_principal, 
.cont_principal0, 
.cont_principal1 {
    position: absolute;
    width: 100%;
    height: 800px;
   
}

.cont_central,
.cont_central0, 
.cont_central1 {  
    position: absolute;
    width: 100%;
    margin-top: 0;
}

.cont_modal, 
.cont_modal0, 
.cont_modal1 {
    position: relative;
    width: 300px;
    height: 400px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.cont_photo, 
.cont_photo0,
.cont_photo1 {
    position: relative;
    width: 300px;
    height: 440px;
    overflow: hidden;
    background-color: #eee;
    border-radius:5px;
    top: -20px;
    float: left;
    z-index: 2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.5s; 
    box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  
}

.cont_img_back, 
.cont_img_back0,
.cont_img_back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius:5px ;
}

.cont_img_back > img, 
.cont_img_back0 > img, 
.cont_img_back1 > img {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 1s;
}

.cont_img_back:hover > img, 
.cont_img_back0:hover > img, 
.cont_img_back1:hover > img {
    transform: scale(1.5);
}

.cont_text_ingredients, 
.cont_text_ingredients0, 
.cont_text_ingredients1 {
    position: absolute;
    width: 0px;
    top: 0px;
    left: 290px;
    margin-left: 10px;
    height: 400px;
    float: left; 
    border-radius:5px ;
    z-index: 3;
    box-shadow: 1px 1px  20px  -5px  rgba(0,0,0,0.2);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
    background: rgb(251,249,249); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(251,249,249,1) 28%, rgba(232,234,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9f9', endColorstr='#e8eaed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.cont_mins, 
.cont_mins0, 
.cont_mins1{
    position: relative;
    float: left;
    width: 100%;
}

.sub_mins, 
.sub_mins0, 
.sub_mins1 {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    background-color: rgba(255,253,112,0.8);
    border-radius:50% ;
    margin: 16px;
    margin-bottom: 0px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;

}

.sub_mins > h3, 
.sub_mins0 > h3, 
.sub_mins1 > h3 {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: -15px;
}

.sub_mins > span, 
.sub_mins0 > span, 
.sub_mins1 > span {
    font-size: 9px; 
    font-weight: 700;
}

.cont_servings, 
.cont_servings0, 
.cont_servings1 {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    background-color: rgba(255,253,112,0.8);
    border-radius:50% ;
    margin: 16px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; 
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.cont_servings > h3, 
.cont_servings0 > h3, 
.cont_servings1 > h3 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: -15px;
}

.cont_servings > span, 
.cont_servings0 > span, 
.cont_servings1 > span {
    font-size: 9px;
    font-weight: 700;
}

.cont_icon_right, 
.cont_icon_right0, 
.cont_icon_right1 {
    position: relative;
    float: right;
    margin-top: 16px;
}

.cont_icon_right  > a, 
.cont_icon_right0  > a,
.cont_icon_right1  > a  {
    margin: 16px;
    margin-top: 16px;
    color: #fff;
}

.cont_detalles, 
.cont_detalles0, 
.cont_detalles1 {
    position: absolute;
    bottom:-185px;
    height: 200px;
    border-radius:5px ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s; 
    transition: all 0.5s;
    transition-delay: 1.2s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.cont_detalles > h3, 
.cont_detalles0 > h3, 
.cont_detalles1 > h3 {
    margin-top: 50px;
    color: #fff;
    font-size: 24px;
}

.cont_detalles > p, 
.cont_detalles0 > p, 
.cont_detalles1 > p {
    color: #fff;
    width: 80%;
    text-align:left;
    font-size: 14px;
}

/* ---------------- Css Tabs -------- */

.cont_tabs,
.cont_tabs0,
.cont_tabs1 {
    position: relative;
    float: left;
    width: 270px;
    height: 60px;
    border-bottom: 3px solid #EDEDEC;
}

.cont_tabs > ul, 
.cont_tabs0 > ul, 
.cont_tabs1 > ul {
    width: 300px;
    background-color: #eee;
}

.cont_tabs > ul > li, 
.cont_tabs0 > ul > li,
.cont_tabs1 > ul > li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
}

.cont_tabs > ul > li > a, 
.cont_tabs0 > ul > li > a, 
.cont_tabs1 > ul > li > a {
    border-top: 7px solid #ED346C;
    position: relative;
    display: block;
    float: left;
    padding-top: 15px;
    color: #241C3E;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
}

.cont_tabs > ul > li:first-child > a, 
.cont_tabs0 > ul > li:first-child > a, 
.cont_tabs1 > ul > li:first-child > a{
    border-top: 0px;
    margin-top: 8px;
    color: #9A96A4;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.2s;
}

.cont_tabs > ul > li:first-child > a:hover, 
.cont_tabs0 > ul > li:first-child > a:hover, 
.cont_tabs1 > ul > li:first-child > a:hover {
    border-top: 7px solid #ED346C;
    padding-top: 15px;
    color: #241C3E;
    margin-top: 0px;
}

.cont_btn_open_dets, 
.cont_btn_open_dets0, 
.cont_btn_open_dets1 {
    position: absolute;
    right: 130px;
    top:100%;
}
.cont_btn_open_dets  > a, 
.cont_btn_open_dets0  > a, 
.cont_btn_open_dets1  > a {
    display: block;
    padding-top: -5px;
    width: 30px;
    height: 30px;
    background-color: #ED2460;
    border-radius:50% ;
    color: #fff;
    box-shadow: 0px 0px 20px -2px rgba(237, 36, 96, 1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition: all 0.5s;
    transform: rotate(270deg);
}

.cont_btn_open_dets  > a > i, 
.cont_btn_open_dets0  > a > i, 
.cont_btn_open_dets1  > a > i {
    margin-top: 4px;
}

.cont_title_preparation, 
.cont_title_preparation0, 
.cont_title_preparation1 {
    position: relative;
    float: left;
    margin:10px 0px ;
    width: 410px;
}
.cont_title_preparation > p, 
.cont_title_preparation0 > p,
.cont_title_preparation1 > p {
    font-weight: 700;
    font-size: 14px;
    margin-left: 40px;
    text-align: left;
    color: #36354E;
}

.cont_info_preparation, 
.cont_info_preparation0, 
.cont_info_preparation1 {
    position: relative;
    float: left;
}
.cont_info_preparation > p, 
.cont_info_preparation0 > p, 
.cont_info_preparation1 > p {
    width: 260px;
    margin: 5px 0px;
    margin-left: 10px;
    border-left: 2px solid #E3E3E3; 
    font-size: 12px;
    padding: 20px 0px;
    padding-left: 20px;
    text-align: left;
    padding-right: 15px;
    color: #565656;
}

.cont_btn_mas_dets, 
.cont_btn_mas_dets0, 
.cont_btn_mas_dets1 {
    position: absolute;
    bottom:0px;
    left: 50%;
}

.cont_btn_mas_dets > a, 
.cont_btn_mas_dets0 > a, 
.cont_btn_mas_dets1 > a {
    color: #36354E;
}

.cont_over_hidden, 
.cont_over_hidden0, 
.cont_over_hidden1 {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.cont_text_det_preparation, 
.cont_text_det_preparation0, 
.cont_text_det_preparation1 {
    position: relative;
    width: 410px;
}

.cont_modal_active > .cont_text_ingredients  > .cont_btn_open_dets > a, 
.cont_modal_active0 > .cont_text_ingredients0  > .cont_btn_open_dets0 > a, 
.cont_modal_active1 > .cont_text_ingredients1  > .cont_btn_open_dets1 > a {
    transform: rotate(90deg);
}

.cont_modal_active > .cont_text_ingredients, 
.cont_modal_active0 > .cont_text_ingredients0, 
.cont_modal_active1 > .cont_text_ingredients1{
    width: 280px;
    left: 0;
    top: 420px;
    z-index: 1;
    box-shadow: 15px 20px  70px  -5px  rgba(0,0,0,0.2);
}

/* .cont_modal_active {
width: 0;  
} */

.cont_modal_active > .cont_photo, 
.cont_modal_active0 > .cont_photo0  ,
.cont_modal_active1 > .cont_photo1 {
    box-shadow: 25px 10px 70px -5px rgba(0,0,0,0.3);  
}

.cont_modal_active > .cont_photo > .cont_mins > .sub_mins, 
.cont_modal_active0 > .cont_photo0 > .cont_mins0 > .sub_mins0, 
.cont_modal_active1 > .cont_photo1 > .cont_mins1 > .sub_mins1 {
    opacity: 1;
}

.cont_modal_active  > .cont_photo > .cont_servings, 
.cont_modal_active0  > .cont_photo0 > .cont_servings0, 
.cont_modal_active1  > .cont_photo1 > .cont_servings1 {
    opacity: 1;
}

.cont_modal_active > .cont_photo  > .cont_detalles, 
.cont_modal_active0 > .cont_photo0  > .cont_detalles0, 
.cont_modal_active1 > .cont_photo1  > .cont_detalles1{
    bottom: 0px;
}

footer{
    background-color: #2D2D30;
}
footer p{
    margin: 0;
    padding: 12px;
    color: #F2F1F1;
}
footer .container{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.8em;
}

@media (min-width: 750px){

    header{
        position: fixed;
        width: 100%;
        z-index: 5;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
        background-color: #EEEEF2;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        margin: 0;
    }

    header .logo{
        font-size: 1.2em;
        color: #2179BF;
    }
    header a{
        font-size: 1em;
    }
    header a:hover{
        color: #2179BF;
        border-bottom: 1px solid #2179BF;
    }
    
    /* #todo-section {
        padding-top: 200px;
        height: 600px;
    } */
    /* #todo-section h1{
        font-size: 3.5em;
    } */

    .cont_central {
        margin-top: 50px;
    }

    /* .cont_principal {
        padding-top: 100px;
    } */

    .cont_modal,
    .cont_modal0,
    .cont_modal1 {
        position: relative;
        width: 500px;
        height: 400px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; 
        transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }
    
    .cont_photo, 
    .cont_photo0,
    .cont_photo1 {
        position: relative;
        width: 500px;
        height: 640px;
        overflow: hidden;
        background-color: #eee;
        border-radius:20px;
        top: -20px;
        float: left;
        z-index: 2;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition: all 0.5s; 
        box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);  
    }
    
    .cont_img_back,
    .cont_img_back0, 
    .cont_img_back1 {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius:20px ;
    }
    .cont_img_back > img, 
    .cont_img_back0 > img,
    .cont_img_back1 > img {
        width: 100%;
        opacity: 0.7;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition: all 1s;
    }
    
    .cont_img_back:hover > img, 
    .cont_img_back0:hover > img,
    .cont_img_back1:hover > img {
        transform: scale(1.5);
    }
    
    .cont_text_ingredients,
    .cont_text_ingredients0, 
    .cont_text_ingredients1 {
        position: absolute;
        width: 0px;
        top: 0px;
        left: 490px;
        margin-left: 10px;
        height: 600px;
        float: left; 
        border-radius:20px ;
        z-index: 3;
        box-shadow: 1px 1px  20px  -5px  rgba(0,0,0,0.2);
    
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
        background: rgb(251,249,249); /* Old browsers */
        background: -moz-linear-gradient(-45deg,  rgba(251,249,249,1) 28%, rgba(232,234,237,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(251,249,249,1) 28%,rgba(232,234,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9f9', endColorstr='#e8eaed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; 
        transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }
    
    .cont_mins, 
    .cont_mins0,
    .cont_mins1{
        position: relative;
        float: left;
        width: 100%;
    }
    
    .sub_mins, 
    .sub_mins0,
    .sub_mins1 {
        position: relative;
        float: left;
        width: 60px;
        height: 60px;
        background-color: rgba(255,253,112,0.8);
        border-radius:50% ;
        margin: 16px;
        margin-bottom: 0px;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition: all 0.5s;
        transition-delay: 1s;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s;
    
    }
    
    .sub_mins > h3, 
    .sub_mins0 > h3,
    .sub_mins1 > h3 {
        font-size: 24px;
        margin-top: 7px;
        margin-bottom: -15px;
    }
    
    .sub_mins > span, 
    .sub_mins0 > span, 
    .sub_mins1 > span {
        font-size: 9px; 
        font-weight: 700;
    }
    
    .cont_servings, 
    .cont_servings0, 
    .cont_servings1 {
        position: relative;
        float: left;
        width: 60px;
        height: 60px;
        background-color: rgba(255,253,112,0.8);
        border-radius:50% ;
        margin: 16px;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; 
        transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }
    
    .cont_servings > h3, 
    .cont_servings0 > h3,
    .cont_servings1 > h3 {
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: -15px;
    }
    
    .cont_servings > span,
    .cont_servings0 > span, 
    .cont_servings1 > span {
        font-size: 9px;
        font-weight: 700;
    }
    .cont_icon_right, 
    .cont_icon_right0, 
    .cont_icon_right1 {
        position: relative;
        float: right;
        margin-top: 16px;
    }
    .cont_icon_right  > a, 
    .cont_icon_right0  > a,
    .cont_icon_right1  > a  {
        margin: 16px;
        margin-top: 16px;
        color: #fff;
    }
    
    .cont_detalles, 
    .cont_detalles0, 
    .cont_detalles1 {
        position: absolute;
        bottom:-185px;
        height: 200px;
        border-radius:20px ;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+101&0+0,0.65+68 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 68%, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 101%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 68%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    
        width: 100%;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s; 
        transition: all 0.5s;
        transition-delay: 1.2s;
        -webkit-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }
    
    
    .cont_detalles > h3, 
    .cont_detalles0 > h3,
    .cont_detalles1 > h3 {
        margin-top: 50px;
        color: #fff;
        font-size: 30px;
    }
    
    .cont_detalles > p, 
    .cont_detalles0 > p,
    .cont_detalles1 > p {
        color: #fff;
        width: 80%;
        text-align:left;
        font-size: 14px;
    }
    
    /* ---------------- Css Tabs -------- */
    
    .cont_tabs, 
    .cont_tabs0, 
    .cont_tabs1 {
        position: relative;
        float: left;
        width: 410px;
        height: 60px;
        border-bottom: 3px solid #EDEDEC;
    }
    
    .cont_tabs > ul, 
    .cont_tabs0 > ul,
    .cont_tabs1 > ul {
        width: 300px;
        background-color: #eee;
    }
    
    .cont_tabs > ul > li, 
    .cont_tabs0 > ul > li,
    .cont_tabs1 > ul > li {
        position: relative;
        float: left;
        width: 50%;
        list-style: none;
    }
    
    .cont_tabs > ul > li > a, 
    .cont_tabs0 > ul > li > a,
    .cont_tabs1 > ul > li > a {
        border-top: 7px solid #ED346C;
        position: relative;
        display: block;
        float: left;
        padding-top: 15px;
        color: #241C3E;
        text-decoration: none;
        margin-left: 15px;
        font-size: 24px;
    }
    
    .cont_tabs > ul > li:first-child > a, 
    .cont_tabs0 > ul > li:first-child > a, 
    .cont_tabs1 > ul > li:first-child > a{
        border-top: 0px;
        margin-top: 8px;
        color: #9A96A4;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition: all 0.2s;
    }
    
    .cont_tabs > ul > li:first-child > a:hover, 
    .cont_tabs0 > ul > li:first-child > a:hover,
    .cont_tabs1 > ul > li:first-child > a:hover {
        border-top: 7px solid #ED346C;
        padding-top: 15px;
        color: #241C3E;
        margin-top: 0px;
    }
    
    .cont_btn_open_dets, 
    .cont_btn_open_dets0, 
    .cont_btn_open_dets1 {
        position: absolute;
        right: -25px;
        top:50%;
    }

    .fa-solid{
        font-size: 25px
    }

    .cont_btn_open_dets  > a, 
    .cont_btn_open_dets0  > a,
    .cont_btn_open_dets1  > a {
        display: block;
        padding-top: -5px;
        width: 50px;
        height: 50px;
        background-color: #ED2460;
        border-radius:50% ;
        color: #fff;
        box-shadow: 0px 0px 20px -2px rgba(237, 36, 96, 1);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        transition: all 0.5s;
        transform: rotate(180deg);
    }
    
    
    .cont_btn_open_dets  > a > i, 
    .cont_btn_open_dets0  > a > i, 
    .cont_btn_open_dets1  > a > i {
        margin-top: 4px;
    }
    
    .cont_title_preparation, 
    .cont_title_preparation0, 
    .cont_title_preparation1 {
        position: relative;
        float: left;
        margin:10px 0px ;
        width: 410px;
    }
    .cont_title_preparation > p, 
    .cont_title_preparation0 > p,
    .cont_title_preparation1 > p {
        font-weight: 700;
        font-size: 24px;
        margin-left: 40px;
        text-align: left;
        color: #36354E;
    }
    
    .cont_info_preparation, 
    .cont_info_preparation0, 
    .cont_info_preparation1 {
        position: relative;
        float: left;
    }

    .cont_info_preparation > p, 
    .cont_info_preparation0 > p,
    .cont_info_preparation1 > p {
        width: 80%;
        margin: 5px 0px;
        margin-left: 50px;
        border-left: 2px solid #E3E3E3; 
        font-size: 20px;
        padding: 20px 0px;
        padding-left: 20px;
        text-align: left;
        padding-right: 15px;
        color: #565656;
    }
    
    .cont_btn_mas_dets, 
    .cont_btn_mas_dets0, 
    .cont_btn_mas_dets {
        position: absolute;
        bottom:0px;
        left: 50%;
    }
    .cont_btn_mas_dets > a, 
    .cont_btn_mas_dets0 > a, 
    .cont_btn_mas_dets1 > a {
        color: #36354E;
    }
    
    .cont_over_hidden, 
    .cont_over_hidden0, 
    .cont_over_hidden1 {
        position: relative;
        float: left;
        width: 100%;
        height: 550px;
        overflow: hidden;
    }
    
    .cont_text_det_preparation, 
    .cont_text_det_preparation0, 
    .cont_text_det_preparation2 {
        position: relative;
        width: 410px;
    }
    
    .cont_modal_active > .cont_text_ingredients  > .cont_btn_open_dets > a, 
    .cont_modal_active0 > .cont_text_ingredients0  > .cont_btn_open_dets0 > a, 
    .cont_modal_active1 > .cont_text_ingredients1  > .cont_btn_open_dets1 > a {
        transform: rotate(0deg);
    }
    .cont_modal_active > .cont_text_ingredients, 
    .cont_modal_active0 > .cont_text_ingredients0, 
    .cont_modal_active1 > .cont_text_ingredients1{
        width: 410px;
        left: 465px;
        top: 0;
        z-index: 1;
        box-shadow: 15px 20px  70px  -5px  rgba(0,0,0,0.2);
    }
    .cont_modal_active, 
    .cont_modal_active0, 
    .cont_modal_active1 {
        width: 900px;  
    }
    
    .cont_modal_active > .cont_photo, 
    .cont_modal_active0 > .cont_photo0, 
    .cont_modal_active1 > .cont_photo1 {
        box-shadow: 25px 10px 70px -5px rgba(0,0,0,0.3);  
    }
    
    .cont_modal_active > .cont_photo > .cont_mins > .sub_mins, 
    .cont_modal_active0 > .cont_photo0 > .cont_mins0 > .sub_mins0, 
    .cont_modal_active1 > .cont_photo1 > .cont_mins1 > .sub_mins1 {
        opacity: 1;
    }
    
    .cont_modal_active  > .cont_photo > .cont_servings, 
    .cont_modal_active0  > .cont_photo0 > .cont_servings0, 
    .cont_modal_active1  > .cont_photo1 > .cont_servings1 {
        opacity: 1;
    }
    
    .cont_modal_active > .cont_photo  > .cont_detalles, 
    .cont_modal_active0 > .cont_photo0  > .cont_detalles0, 
    .cont_modal_active1 > .cont_photo1  > .cont_detalles1{
        bottom: 0px;
    }

    footer .container{
        justify-content: flex-end;
    }
}