*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto',sans-serif;
    margin: 0; 
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{
    font-size: 1.25em;
    color: #1E1E1E;
}
span{font-size: 0.5em;}
ul{
    list-style: none;
    padding-inline-start: 0px;
}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #3E3E40;
    background-color: #C9DEF5;
    cursor: pointer;
}
button:hover{
    background-color: #5CADE0;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: #F5F5F5;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #3E3E40;
    background-color: #EEEEF2;
    font-size: 3em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #1E1E1E;
}
header a:hover{
    color: #2179BF;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #F2F1F1;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url('img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero button{
    font-size: 1.8em;
}

/* #soy-camii{

} */

#soy-camii .container{
    text-align: center;
    padding: 200px 12px;
}
#otros-proyectos{
    background-color: #1E1E1E;
    color: #F2F1F1;
    text-align: center;
}
#otros-proyectos .container{
    padding: 150px 12px;
}
#otros-proyectos h2{
    margin-top: 0;
    font-size: 3.2em;
}
/* #otros-proyectos p{
    display: none;
} */
#otros-proyectos .proyectos{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}
.proyectos:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,1)
    )
    ,url('img/mi-web.jpg');
    
}
.proyectos:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,1)
    )
    ,url('img/twitch.jpg');
}
.proyectos:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,1)
    )
    ,url('img/streams.jpg');
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0;
    font-weight: bold;
}

footer{
    background-color: #2D2D30;
}
footer p{
    margin: 0;
    padding: 12px;
    color: #F2F1F1;
}
footer .container{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.8em;
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        z-index: 5;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
        background-color: #EEEEF2;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header .logo{
        font-size: 1.2em;
        color: #2179BF;
    }
    header a{
        font-size: 1em;
    }
    header a:hover{
        color: #2179BF;
        border-bottom: 1px solid #2179BF;
    }

    #soy-camii .container{
        display: flex;
        justify-content: space-evenly;
    }

    #soy-camii .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #soy-camii h2{
        margin-top: 0;
    }

    #soy-camii .img-container{
        background-image:url('img/yo.jpg');
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #otros-proyectos .programas{
        display: flex;
        justify-content: center;
        min-height: 400px;
        height: auto;
    }
    #otros-proyectos .proyectos p{
        display: block;
        color: #F2F1F1;
        font-size: 1.4em;
        margin-bottom: 30px;
        padding: 3px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 10px;
        
    }
    #otros-proyectos h3{
        margin-top: 0;
    }
    #otros-proyectos .proyectos{
        padding: 50px 20px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    #otros-proyectos .proyectos:hover{
        box-shadow: 2px 2px 10px rgba(242, 241, 241,0.5);
    }
    #caracteristicas{
        background-image: url('img/caracteristicas-img.jpg');
        background-repeat: no-repeat;
        background-position: calc(100vw - 500px) 120px;
        background-size: 500px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }
    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px){
    #caracteristicas{
        background-position: calc(100vw - 800px);
    }
}